{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container">
        {% if produtos %}
        <h1>Produtos</h1>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Estoque</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <th scope="col">{{ produto.id }}</th>
                    <th scope="col"><a href="#modal{{produto.id}}" data-toggle="modal"> {{ produto.nome }}</a></th>
                    <th scope="col">{{ produto.preco }}</th>
                    <th scope="col">{{ produto.estoque }}</th>
                </tr>
                <div class="modal fade bd-example-modal-lg show" id="modal{{produto.id}}" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="dynamic-content">
                                <img src="{{ produto.imagem.url }}" class="img-fluid" alt="{{ produto.nome}}" srcset="">
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <center>
            <h2>Ainda não existe produtos cadastrados!  😔</h2>
        </center>
        {% endif %}
    </div>

    {% bootstrap_javascript jquery='full' %}
</body>

</html>